.s-button {
  --s-button-padding: 8px;
  --s-button-color-bg: rgb(244, 244, 245);
  --s-button-color-font: var(--s-color-font);
  --s-button-height: 34px;
  --s-button-font-size: var(--s-font-size);
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border: none;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
  font-size: var(--s-button-font-size);
  border-radius: var(--s-radius);
  color: var(--s-button-color-font);
  padding: var(--s-button-padding) calc(1.8 * var(--s-button-padding));
  transition: var(--s-transition);
  background-color: var(--s-button-color-bg);
  height: var(--s-button-height);
}

.s-button span {
  font-weight: 500;
  display: inline-flex;
  font-size: inherit;
  /* height: var(--s-button-font-size); */
}

.s-button:hover {
  filter: brightness(90%);
  transition: all 1s var(--s-cubic-bezier);
}

.s-button:active {
  box-shadow: 0px 0px 3px 1px var(--s-button-color-bg);
  transition: all 0.5s var(--s-cubic-bezier);
}

.s-button.s-button--type__info {
  --s-button-color-font: var(--s-color-font-white);
  --s-button-color-bg: var(--s-color-type-info);
}

.s-button.s-button--type__success {
  --s-button-color-font: var(--s-color-font-white);
  --s-button-color-bg: var(--s-color-type-success);
}

.s-button.s-button--type__warn {
  --s-button-color-font: var(--s-color-font-white);
  --s-button-color-bg: var(--s-color-type-warn);
}

.s-button.s-button--type__danger {
  --s-button-color-font: var(--s-color-font-white);
  --s-button-color-bg: var(--s-color-type-danger);
}

.s-theme__dark .s-button {
  --s-button-color-font: var(--s-color-font-black);
  filter: contrast(70%);
}

.s-theme__dark .s-button:hover {
  filter: contrast(50%);
  transition: all 1s var(--s-cubic-bezier);
}

/** text */
.s-button--text {
  background-color: transparent;
  padding: 0;
  height: auto;
}

.s-button--text.s-button:hover {
  filter: brightness(80%);
}

.s-button--text.s-button:active {
  filter: brightness(100%);
  box-shadow: none;
}

.s-button--text.s-button--type__info {
  --s-button-color-font: var(--s-color-type-info);
}

.s-button--text.s-button--type__success {
  --s-button-color-font: var(--s-color-type-success);
}

.s-button--text.s-button--type__warn {
  --s-button-color-font: var(--s-color-type-warn);
}

.s-button--text.s-button--type__danger {
  --s-button-color-font: var(--s-color-type-danger);
}

.s-theme__dark .s-button--text.s-button--type__default {
  --s-button-color-font: var(--s-color-font-white);
}

/** circle */
.s-button--circle {
  border-radius: 50%;
  width: var(--s-button-height);
}

.s-button--circle .s-button--icon {
  margin-right: 0;
}

/** round */
.s-button--round {
  border-radius: var(--s-button-height);
}

/** icon */
.s-button--icon {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

/** loading */
.s-button--loading {
  cursor: progress;
}

.s-button--loading:active {
  box-shadow: none
}

.s-button--icon__loading {
  height: 1em;
  width: 1em;
  animation: s-icon-rotate-360 1s linear infinite;
}

/** disabled */
.s-button--disabled.s-button {
  --s-button-disabled-grayscale: grayscale(50%);
  cursor: no-drop;
  filter: var(--s-button-disabled-grayscale);
}

.s-button--disabled.s-button:active {
  box-shadow: none
}

.s-button--disabled.s-button:hover {
  filter: var(--s-button-disabled-grayscale);
  transition: none;
}

/** size */
.s-button--size__small {
  --s-button-font-size: var(--s-font-size-small);
  --s-button-height: 28px;
  --s-button-padding: 6px;
}

.s-button--size__large {
  --s-button-font-size: var(--s-font-size-large);
  --s-button-height: 40px;
  --s-button-padding: 10px;
}

.s-button--size__large span {
  margin-top: 1px;
}