.s-close-btn {
  display: inline-flex;
  border-radius: var(--s-radius);
  transition: var(--s-transition);
}

.s-close-btn:hover {
  transition: var(--s-transition);
  background-color: var(--s-color-font);
}