:root {
  --s-color-theme: rgb(255, 255, 255);
  --s-color-type-info: rgba(53, 154, 222, 1);
  --s-color-type-success: rgba(66, 218, 142, 1);
  --s-color-type-warn: rgba(255, 186, 40, 1);
  --s-color-type-danger: rgba(236, 75, 75, 1);
  --s-color-font: rgba(102, 102, 102, 1);
  --s-color-font-white: rgb(255, 255, 255);
  --s-color-font-black: rgb(0, 0, 0);

  /** size */
  --s-font-size-small: 12px;
  --s-font-size: 14px;
  --s-font-size-large: 16px;

  --s-radius: 3px;

  /** transition */
  --s-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  --s-cubic-bezier: cubic-bezier(0.075, 0.82, 0.165, 1);

  /** shadow */
  --s-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05)
}

html.s-theme__dark {
  --s-color-theme: #242424;
  --s-color-font: rgba(235, 235, 235, 0.64);
}