@import url(../../../styles/var.css);

.s-pop-container {
  display: inline-block;
}

.s-pop-content {
  position: absolute;
}

.s-pop-trigger--container {
  display: inline-block;
}

.pop--active-enter-active,
.pop--active-leave-active {
  transition: opacity 0.5s ease;
}

.pop--active-enter-from,
.pop--active-leave-to {
  opacity: 0;
}



.s-pop-box {
  position: relative;
  display: flex;
  z-index: 999;
}

.s-pop-box--content {
  box-shadow: var(--s-box-shadow);
  border-radius: var(--s-radius);
  /* word-break: normal; */
  white-space: nowrap;
}

.s-pop-box__no__raw {
  padding: 4px 8px;
  background-color: var(--s-color-theme);
}

.s-pop--arrow {
  --s-pop-arrow-translate-px: 8px;
  width: 6px;
  height: 6px;
  background-color: var(--s-color-theme);
  filter: brightness(50%);
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

.s-pop--arrow__none {
  opacity: 0;
}

.s-theme__dark .s-pop--arrow {
  background-color: var(--s-color-theme);
  filter: contrast(80%);
}

.s-pop--arrow.s-pop--arrow__top__start {
  transform: rotate(180deg) translateX(calc(var(--s-pop-arrow-translate-px) * -1));
}

.s-pop--arrow.s-pop--arrow__top {
  transform: rotate(180deg);
}

.s-pop--arrow.s-pop--arrow__top__end {
  transform: rotate(180deg) translateX(var(--s-pop-arrow-translate-px));
}

.s-pop--arrow.s-pop--arrow__left__start {
  transform: rotate(90deg) translateX(var(--s-pop-arrow-translate-px));
}

.s-pop--arrow.s-pop--arrow__left {
  transform: rotate(90deg);
}

.s-pop--arrow.s-pop--arrow__left__end {
  transform: rotate(90deg) translateX(calc(var(--s-pop-arrow-translate-px) * -1));
}

.s-pop--arrow.s-pop--arrow__bottom__start {
  transform: rotate(0deg) translateX(var(--s-pop-arrow-translate-px));
}

.s-pop--arrow.s-pop--arrow__bottom {
  transform: rotate(0deg);
}

.s-pop--arrow.s-pop--arrow__bottom__end {
  transform: rotate(0deg) translateX(calc(var(--s-pop-arrow-translate-px) * -1));
}

.s-pop--arrow.s-pop--arrow__right {
  transform: rotate(270deg);
}

.s-pop--arrow.s-pop--arrow__right__start {
  transform: rotate(270deg) translateX(calc(var(--s-pop-arrow-translate-px) * -1));
}

.s-pop--arrow.s-pop--arrow__right {
  transform: rotate(270deg);
}

.s-pop--arrow.s-pop--arrow__right__end {
  transform: rotate(270deg) translateX(var(--s-pop-arrow-translate-px));
}